.resumeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures content is vertically centered */
    text-align: center; /* Ensures heading and content align centrally */
    padding: 1rem;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.resumeImage {
    width: auto;
    max-width: 100%;
    max-height: 90vh; /* Ensures the image fits within the viewport height */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
